*.colorBackground: #282828
*.colorForeground: #EBDBB2
*.colorForegroundAlt: #FBF1C7
*.color1: #FB4934
*.color2: #FE8019
*.color3: #FABD2F
*.color4: #B8BB26
*.color5: #D3869B
*.color6: #83A598
*.colorTransparent: #00
